* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
@media (max-width: 600px) {
  .btn-wsp {
    font-size: 1.3rem;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

header {
  background-color: hsl(180, 47%, 93%);
  position: relative;
  z-index: 1;
}

body {
  background: #fff;
  background-image: linear-gradient(rgba(238, 238, 238, 0.5333333333) 0.1em, transparent 0.1em);
  background-size: 100% 1.5em;
}

.header__marca {
  font-family: "Sigmar", cursive;
  text-shadow: #000 2px 2px 2px;
  margin: 0;
}
.header__marca--li {
  color: hsl(180, 47%, 64%);
}
.header__marca--la {
  color: hsl(300, 40%, 78%);
}
.header__marca--lu {
  color: rgb(202, 202, 202);
}
.header__tel {
  color: rgba(0, 0, 0, 0.5019607843);
  display: flex;
  align-items: baseline;
  gap: 5px;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0.4em;
  border: 1px solid;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .header__tel {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .header__tel {
    font-size: 0.6rem;
    right: 10px;
  }
}
@media (max-width: 450px) {
  .header__tel {
    font-size: 0.5rem;
    right: 10px;
  }
}

.portada {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.portada__img {
  height: 400px;
  object-fit: cover;
}
@media (min-width: 754px) {
  .portada__img {
    height: 700px;
  }
}
.portada > h2 {
  color: #9e9e9e;
  text-shadow: rgba(0, 0, 0, 0.5254901961) 0.5px 0.5px 0.5px;
}
.portada__cont-about-us-titulo {
  display: flex;
  justify-content: center;
}
.portada__about-us-titulo {
  color: hsl(180, 47%, 40%);
  font-family: "Lilita One", cursive;
  background-color: hsl(180, 47%, 85%);
  padding: 0.2em;
  border-radius: 7.5px;
}
.portada__cont-cont-caption {
  display: flex;
  justify-content: center;
}
.portada__cont-caption {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0;
  padding-top: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 30px;
  width: fit-content;
}
.portada__caption {
  text-shadow: #000 0 0 5px;
}
@media (min-width: 370px) {
  .portada__caption {
    font-size: 1rem;
  }
}
@media (min-width: 754px) {
  .portada__caption {
    font-size: 1.6rem;
  }
}
.portada__pie {
  text-shadow: #000 0 0 2px;
}
@media (min-width: 370px) {
  .portada__pie {
    font-size: 0.7rem;
  }
}
@media (min-width: 754px) {
  .portada__pie {
    font-size: 1rem;
  }
}

.carousel {
  margin-bottom: 60px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.galeria__img {
  padding: 0;
  margin: 0 20px;
  width: 410px;
  height: 300px;
  object-fit: cover;
  border: solid 10px white;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1400px) {
  .galeria__img {
    height: 500px;
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .galeria__img {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 992px) {
  .galeria__img {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .galeria__img {
    height: 450px;
    width: 450px;
  }
}
@media (max-width: 600px) {
  .galeria__img {
    height: 375px;
    width: 375px;
  }
}
@media (max-width: 450px) {
  .galeria__img {
    height: 350px;
    width: 350px;
  }
}
.galeria__img:hover {
  transform: scale(1.1);
}
.galeria__img-larga {
  padding: 0;
  margin: 0 20px;
  height: 500px;
  width: 410px;
  object-fit: cover;
  border: solid 10px white;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1400px) {
  .galeria__img-larga {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .galeria__img-larga {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 992px) {
  .galeria__img-larga {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .galeria__img-larga {
    height: 450px;
    width: 450px;
  }
}
@media (max-width: 600px) {
  .galeria__img-larga {
    height: 375px;
    width: 375px;
  }
}
@media (max-width: 450px) {
  .galeria__img-larga {
    height: 350px;
    width: 350px;
  }
}
.galeria__img-larga:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
