* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
@media (max-width: 600px) {
  .btn-wsp {
    font-size: 1.3rem;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

header {
  background-color: hsl(180, 47%, 93%);
  position: relative;
  z-index: 1;
}

body {
  background: #fff;
  background-image: linear-gradient(rgba(238, 238, 238, 0.5333333333) 0.1em, transparent 0.1em);
  background-size: 100% 1.5em;
}

.cont-header-marca {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__marca {
  font-family: "Sigmar", cursive;
  text-shadow: #bb90a5 2px 2px 2px;
  margin: 0;
}
.header__marca--li {
  color: #78cece;
}
.header__marca--la {
  color: #ddb0dd;
}
.header__marca--lu {
  color: rgb(202, 202, 202);
}
.header__tel {
  color: hsl(300, 40%, 58%);
  font-family: "Rampart One", cursive;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0.3em 0.5em 0.5em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (max-width: 800px) {
  .header__tel {
    font-size: 0.8rem;
  }
}
@media (max-width: 600px) {
  .header__tel {
    font-size: 0.7rem;
    right: 10px;
  }
}
@media (max-width: 450px) {
  .header__tel {
    font-size: 0.6rem;
    right: 10px;
  }
}

.lolipop {
  width: 80px;
  filter: drop-shadow(#bb90a5 2px 2px 2px);
}
@media (max-width: 1200px) {
  .lolipop {
    height: 70px;
    width: 70px;
  }
}
@media (max-width: 992px) {
  .lolipop {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 600px) {
  .lolipop {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 450px) {
  .lolipop {
    height: 40px;
    width: 40px;
  }
}

.portada {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.portada__img {
  height: 700px;
  object-fit: cover;
}
@media (max-height: 900px) {
  .portada__img {
    height: 500px;
  }
}
@media (max-height: 600px) {
  .portada__img {
    height: 300px;
  }
}
.portada__parrafo {
  text-align: justify;
}
.portada > h2 {
  color: #9e9e9e;
  text-shadow: rgba(0, 0, 0, 0.5254901961) 0.5px 0.5px 0.5px;
}
.portada__cont-about-us-titulo {
  display: flex;
  justify-content: center;
}
.portada__about-us-titulo {
  color: hsl(180, 47%, 40%);
  font-family: "Lilita One", cursive;
  background-color: hsl(180, 47%, 85%);
  padding: 0.2em;
  border-radius: 7.5px;
}
@media (max-width: 450px) {
  .portada__about-us-titulo {
    font-size: 1.45rem;
  }
}
.portada__cont-cont-caption {
  display: flex;
  justify-content: center;
}
.portada__cont-caption {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 10px 10px;
  padding-top: 0.1em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-radius: 30px;
  width: fit-content;
  transform: translateY(-10px);
}
.portada__caption {
  text-shadow: #000 0 0 5px;
}
@media (min-width: 320px) {
  .portada__caption {
    font-size: 1.2rem;
  }
}
@media (min-width: 754px) {
  .portada__caption {
    font-size: 1.6rem;
  }
}
.portada__pie {
  text-shadow: #000 0 0 2px;
  margin-bottom: 5px;
}
@media (min-width: 320px) {
  .portada__pie {
    font-size: 0.8rem;
  }
}
@media (min-width: 754px) {
  .portada__pie {
    font-size: 1rem;
  }
}

.carousel {
  margin-bottom: 60px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);
}

.galeria__img {
  padding: 0;
  margin: 0 20px;
  width: 410px;
  height: 300px;
  object-fit: cover;
  border: solid 10px white;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1400px) {
  .galeria__img {
    height: 500px;
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .galeria__img {
    height: 300px;
    width: 300px;
  }
}
.galeria__img:hover {
  transform: scale(1.1);
}
.galeria__img-larga {
  padding: 0;
  margin: 0 20px;
  height: 500px;
  width: 410px;
  object-fit: cover;
  border: solid 10px white;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  transition: 0.3s ease;
}
@media (max-width: 1400px) {
  .galeria__img-larga {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .galeria__img-larga {
    height: 300px;
    width: 300px;
  }
}
.galeria__img-larga:hover {
  transform: scale(1.1);
}

.video-youtube {
  width: 700px;
  height: 500px;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.3));
}
@media (max-width: 1200px) {
  .video-youtube {
    height: 400px;
    width: 600px;
  }
}
@media (max-width: 992px) {
  .video-youtube {
    height: 300px;
    width: 500px;
  }
}
@media (max-width: 768px) {
  .video-youtube {
    height: 450px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .video-youtube {
    height: 400px;
  }
}
@media (max-width: 450px) {
  .video-youtube {
    height: 250px;
  }
}

footer {
  background-color: #eee5f5;
  height: 150px;
}
@media (max-width: 992px) {
  footer {
    height: 130px;
  }
}
@media (max-width: 768px) {
  footer {
    height: 120px;
  }
}
@media (max-width: 600px) {
  footer {
    height: 100px;
  }
}

.mensaje-pie {
  color: #9e9e9e;
  text-shadow: rgba(0, 0, 0, 0.5254901961) 0.5px 0.5px 0.5px;
}

.cont-logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__tel {
  color: hsl(180, 47%, 46%);
  font-family: "Rampart One", cursive;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2.5px;
  position: relative;
  z-index: 200;
  width: fit-content;
  bottom: 10px;
  left: 20px;
}
@media (max-width: 800px) {
  .footer__tel {
    font-size: 0.9rem;
  }
}
@media (max-width: 600px) {
  .footer__tel {
    font-size: 0.7rem;
    left: 10px;
  }
}
@media (max-width: 450px) {
  .footer__tel {
    font-size: 0.6rem;
  }
}
@media (max-width: 395px) {
  .footer__tel {
    font-size: 0.55rem;
  }
}

/*# sourceMappingURL=styles.css.map */
